/* global-styles.css */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");




[data-theme="light"] {
  --bg-primary: #f7fdfd;
  --text-primary: #1C1C1C;
  --border-color: #e0e0e0;
  --blue: #245282;
  --blue-hover: #3979bd;
  --white:#FBFFF4;
}

[data-theme="dark"] {
  --bg-primary: #11121a;
  --text-primary: #FBFFF4;
  --border-color: #333344;
  --blue: #245282;
  --blue-hover: #3979bd;
  --white : #11121a;

}

/* ===== Reset & Base Styles ===== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: Poppins, 'Segoe UI', sans-serif;
  color: var(--text-primary);
  scroll-behavior: smooth;
  font-size: 16px;
}

body {
  background-color: var(--bg-primary);

}

main {
  padding: min(2em, 7%);
}

.center{
  display: flex;
  justify-content: center;
  align-items: center;
}
.centerX{
  display: flex;
  justify-content: center;
}
.centerY{
  display: flex;
  align-items: center;
}

.scroll-container{
  height: 100vh;
  overflow-y: auto;
}





/* ===== Common Components ===== */
/* Buttons */
.btn {
  display: inline-block;
  padding: 0.5rem 1.5rem;
  border: none;
  border-radius: 25px / 25px;
  background-color: var(--blue);
  color: #FBFFF4;
  font-family: inherit;
  font-size: 1rem;
  cursor: pointer;
  text-decoration: none;
  transition: background-color 0.2s, transform 0.1s;
}

.btn:hover {
  background-color: var(--blue-hover);
  transform: translateY(-1px);
}

.btn:active {
  transform: translateY(0);
}

.btn-secondary {
  background-color: var(--bg-primary);
  color: var(--text-primary);
  border: 2px solid var(--blue);
}

.btn-secondary:hover {
  background-color: var(--hover-color);
}

.btn-large {
  padding: 0.75rem 1.5rem;
  font-size: 1.1rem;
}

.btn-small {
  padding: 0.25rem 0.75rem;
  font-size: 0.9rem;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: var(--text-primary);

  border: 4px solid var(--bg-primary);
}

::-webkit-scrollbar-thumb {
  background: #1a73e8;
  border-radius: 10px;
}

footer {
  width: 100%;
  position: relative;
  background: var(--blue);
  color: var(--text-primary);
  text-align: center;
  padding: 40px 0 20px;
}